/* Variables */

:root {
    --main-text-color: #616368;
    --h-color: #242f51;
    --logo-color: #FFA96D;
    --button-color: #2400F9;
}

/* HTML */

html {
    font-size: 10px;
    margin: 0;
    min-width: 1240px;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.6rem;
    line-height: 4.6rem;
    font-weight: 600;
}

h1, h2, h3 {
    margin: 0;
}

h1, h2 {
    color: var(--h-color, blue);
}

a {
    text-decoration: none;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 1.6rem;
    line-height: 2.8rem;
    background-color: #fff;
    color: var(--main-text-color, grey);
}

/* Container */

.container {
    width: 100%;
    max-width: 117rem;
    margin: 0 auto;
    grid-template-columns: repeat(12, 1fr);
    gap: 3rem;
    display: grid;
    align-items: center;
}


.flex-container {
    display: flex;
    justify-content: space-between;
}

/* Button */

button {
    width: 17rem;
    transition-duration: .4s;
    font-weight: 700;
    border-radius: 3rem;
    height: 6rem;
    background-color: var(--button-color, blue);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color:  var(--logo-color, orange);
    color: var(--h-color, blue);
}

button:active {
    background-color:  var(--logo-color, orange);
    color: var(--h-color, blue);
    box-shadow: inset 0px 0px 0px .4rem var(--h-color, blue);
}

/* Logo */

.logo {
    font-weight: 700;
    font-size: 3rem;
    list-style: 4.4rem;
}

.logo-first {
    color: var(--logo-color, orange);
}

.logo-second {
    color: var(--h-color, blue);
}

/* Navigation */

nav ul {
    list-style: none;
    height: 100%;
    display: flex;
    margin: 0 1.9rem;
    justify-content: space-around;
}

nav a {
    color: var(--h-color, blue);
}

/* Header */

header {
    line-height: 4.4rem;
    padding: 2.5rem 0;
    background-color: #fff;
    position: sticky;
    top: 0;
}

.logo {
    grid-column: 1 / 5;
}

nav {
    grid-column: 5 / 11;
}

.header-button {
    grid-column: 11 / 13;   
}

/* Top section */

.top {
    background: url(../images/vector-big-opacity.svg), 
                url(../images/background-city.png) repeat-x bottom, 
                url(../images/little-opacity.svg) repeat-x top;
    background-size: contain;
    height: 86rem;
}

.top-left {
    padding-left: 7rem;
    grid-column: 1 / 8;
}

.top-right {
    grid-column: 8 / 13;
}

.top p {
    width: 100%;
    font-size: 1.8rem;
    line-height: 2.8rem;
}

.top-left-p {
    width: 100%;
    max-width: 49rem;
}

.check-p {
    max-width: 36rem;
    border-radius: 3rem;
    padding: .25rem 0;
    background-color: #e2eaed;
    color: var(--h-color, blue)
}

.check-mark {
    border-radius: inherit;
    padding: .375rem 1.25rem;
    margin-right: .25rem;
    color: white;
    background-color: var(--logo-color, orange);
}

.top-header {
    width: 100%;
    max-width: 53rem;
    line-height: 7.5rem;
    font-weight: 600;
    color: var(--h-color, blue);
    margin: 0;
}

.top-left-button {
    margin-right: 3rem;
}

.top-left-a {
    color: blue;
}

/* Trust section */

.trust {
    margin-top: 11rem;
}

.trust p {
    grid-column: 1 / 13;
    margin: 0;
    color: var(--h-color, blue);
    text-align: center;
}

.trust-list {
    padding: 0;
    grid-column: 1 / 13;
    margin: 0 11.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Features section */

.features {
    margin: 16rem 0px 0px 0px;
}

.features-left {
    margin-left: -8rem;
    grid-column: 1 / 7;
    grid-row: 1;
    background: url(../images/features-back.svg) no-repeat top left;
    background-size: auto;
    background-position: top 14rem left -5rem;
}

.features-left img {
    width: 100%;
    max-width: 57.6rem;
}

.features-right {
    grid-row: 1;
    grid-column: 7 / 11;
}

.features-h2 {
    width: 100%;
    max-width: 30rem;
}

.features-h2 + p {
    margin-bottom: 10rem;
}

.features-list {
    margin-top: 1rem;
}

.feature {
    margin-top: 6rem;
    align-items: center;
    display: grid;
    gap: 6.5rem;
    grid-template-columns: 5.8rem 27rem;
}

.features-img {
    padding: 1.4rem;
}

.speed {
    background: url(../images/ellipse-1.png) no-repeat center;
    background-size: contain;
}

.speed-h {
    color: #f55767;
}

.prototyping {
    background: url(../images/ellipse-2.png) no-repeat center;
    background-size: contain;
}

.prototyping-h {
    color: #2563ff;
}

.pen {
    background: url(../images/ellipse-3.png) no-repeat center;
    background-size: contain;
}

.pen-h {
    color: #40975f;
}

/* Features second half */

.features-second {
    margin-top: 15rem;
}

.pseudo-h2 {
    font-size: 4rem;
    line-height: 5rem;
    width: 100%;
    max-width: 45rem;
    grid-column: 1 / 7;
    grid-row: 1;
    margin-left: 5rem;
    padding-right: 8rem;
    border-right: .1rem solid var(--main-text-color, grey);
}

.pseudo-h2 + p {
    margin-left: 5rem;
    grid-row: 1;
    grid-column: 7 / 13;
    width: 100%;
    max-width: 42rem;
}

.features-s-list {
    grid-column: 1 / 13;
    grid-row: 2;
    margin-top: 11rem;
    margin-left: 5rem;
    margin-bottom: 11rem;
}

.features-s-text {
    margin-top: 2.5rem;
    width: 100%;
    max-width: 26.5rem;
}

.payouts {
    background: url(../images/ellipse-1.png) no-repeat center;
    background-size: contain;
}

.payouts-h {
    color: #f55767;
}

.network {
    background: url(../images/ellipse-2.png) no-repeat center;
    background-size: contain;
}

.network-h {
    color: #2563ff;
}

.rewards {
    background: url(../images/ellipse-3.png) no-repeat center;
    background-size: contain;
}

.rewards-h {
    color: #40975f;
}

.employee {
    grid-row: 3;
    grid-column: 1 / 7;
    margin-left: -8rem;
}

.design {
    grid-row: 3;
    grid-column: 7 / 13;
}

.design-h {
    width: 100%;
    max-width: 37rem;
}

.design-p {
    width: 100%;
    max-width: 42.5rem;
    margin: 3rem 0;
}

/* Features third */

.features-third {
    height: 100rem;
}

.features-third h2 {
    grid-row: 1;
    grid-column: 1 / 13;
    margin: 13rem auto 1rem auto;
    max-width: 46rem;
    max-height: 9.5rem;
    text-align: center;
}

.features-third h2 + p {
    grid-row: 2;
    grid-column: 1 / 13;
    margin: 0 auto 7rem auto;
    max-width: 65rem;
    max-height: 6rem;
    text-align: center;
}

.feature-t-f {
    text-align: center;
    grid-row: 3;
    grid-column:  1 / 5;
}

.feature-t-s {
    text-align: center;
    grid-row: 3;
    grid-column:  5 / 9;
}

.feature-t-t {
    text-align: center;
    grid-row: 3;
    grid-column:  9 / 13;
}

.feature-t-ff {
    text-align: center;
    grid-row: 4;
    grid-column:  1 / 5;
}

.feature-t-fff {
    text-align: center;
    grid-row: 4;
    grid-column:  5 / 9;
}

.feature-t-ss {
    text-align: center;
    grid-row: 4;
    grid-column:  9 / 13;
}

.features-t-text {
    width: 27rem;
    margin: 0 auto;
}

.appdev {
    background: url(../images/ellipse-1.png) no-repeat center;
    background-size: contain;
}

.appdev-h {
    color: #f55767;
}

.tim-award {
    background: url(../images/ellipse-2.png) no-repeat center;
    background-size: contain;
}

.tim-award-h {
    color: #2563ff;
}

.storage {
    background: url(../images/ellipse-3.png) no-repeat center;
    background-size: contain;
}

.storage-h {
    color: #40975f;
}

.custom {
    background: url(../images/ellipse-1.png) no-repeat center;
    background-size: contain;
}

.custom-h {
    color: #f55767;
}

.ux {
    background: url(../images/ellipse-2.png) no-repeat center;
    background-size: contain;
}

.ux-h {
    color: #2563ff;
}

.support {
    background: url(../images/ellipse-3.png) no-repeat center;
    background-size: contain;
}

.support-h {
    color: #40975f;
}


/* Footer */

footer {
    height: 37rem;
    background-color: var(--h-color, blue);
}

.logo-second-white {
    color: #fff;
}

.logo-footer {
    font-weight: 700;
    font-size: 3rem;
    list-style: 4.4rem;
    margin: 11rem auto 4rem auto;
    grid-row: 1;
    grid-column: 1 / 13;
    text-align: center;
}

.footer-nav {
    grid-row: 2;
    grid-column: 4 / 10;
    display: flex;  
    justify-content: space-between;
    align-items: center;
}

.footer-nav a {
    color: #fff;    
}

footer p {
    margin-top: 4rem;
    grid-row: 3;
    grid-column: 1 / 13;
    text-align: center;
    color: #fff;
}

footer p a {
    color: var(--logo-color, orange);
}